In [24]:
'''Q1. List any five functions of the pandas library with execution.

1. df.drop() : Drops rows or columns from dataframe.
2. df.fillna() : Fills missing values in dataframe.
3. df.groupby() : Groups the rows of the dataframe by one or more columns.
                  and performs operation.
4. df.sort_values() : Sorts the rows of the dataframe by one or more columns.
5. df.loc() : Used to select rows and columns from a dataframe in a variety of ways.
'''

import pandas as pd
df = pd.read_csv("players_data.csv")
df.drop('Pos',axis=1)
df.fillna(0)
df.groupby('Age')
df.sort_values('G')
df.loc[0:5,['Player','G']]

          Player   G
0     Quincy Acy  68
1   Jordan Adams  30
2   Steven Adams  70
3    Jeff Adrien  17
4  Arron Afflalo  78
5  Arron Afflalo  53

In [59]:
'''Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.'''

import pandas as pd

def re_index_df_with_step_of_2(df):

    new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)

    re_indexed_df = df.set_index(new_index)

    return re_indexed_df




df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [6, 7, 8, 9, 10], 'C': [11, 12, 13, 14, 15]})
re_indexed_df = re_index_df_with_step_of_2(df)


print(re_indexed_df)

   A   B   C
1  1   6  11
3  2   7  12
5  3   8  13
7  4   9  14
9  5  10  15

In [ ]:
'''Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.'''

In [82]:
df = pd.DataFrame({'A':[1,2,3,4,5]})
df['Values'] = [10, 20, 30, 40, 50]
def sum_fun(df):
    return df['Values'][:3].sum()
sum_fun(df)

60

In [3]:
'''Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.'''
import pandas as pd
def create_word_count_column(df):
  df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
  return df

df = pd.DataFrame({
  'Text': ['This is a sentence.', 'This is another sentence.']
})
df = create_word_count_column(df)
print(df)

                        Text  Word_Count
0        This is a sentence.           4
1  This is another sentence.           4

In [4]:
'''Q5. How are DataFrame.size() and DataFrame.shape() different?

The main difference between DataFrame.size() and DataFrame.shape() is that DataFrame.size() return total number of 
elements in the dataframe while DataFrame.shape() return tuple containing the number of rows and columns in the 
Dataframe.'''

'Q5. How are DataFrame.size() and DataFrame.shape() different?\n\nThe main difference between DataFrame.size() and DataFrame.shape() is that DataFrame.size() return total number of \nelements in the dataframe while DataFrame.shape() return tuple containing the number of rows and columns in the \nDataframe.'

In [5]:
'''Q6. Which function of pandas do we use to read an excel file?

In pandas to read an excel file we use 'pandas.read_excel("New_file.xlsx")' function.
'''

'Q6. Which function of pandas do we use to read an excel file?\n\nIn pandas to read an excel file we use \'pandas.read_excel("New_file.xlsx")\' function.\n'

In [11]:
'''Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.'''
import pandas as pd
import re
def extract_username(email):
    u_name = re.search(r'^(.*?)@',email)
    
    if u_name:
        return u_name.group(1)
    else:
        return none
def create_username_col(df):
    df['Username'] = df['Email'].apply(extract_username)
    return df

df = pd.DataFrame({'Email':['Krushna@gmail.com','devkar23@gmail.com']})
df1 = create_username_col(df)
df1

                Email  Username
0   Krushna@gmail.com   Krushna
1  devkar23@gmail.com  devkar23

In [17]:
'''Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.
'''

import pandas as pd

def new_df(df):
    n_df = df[(df['A']>5) & (df['B']<10)]
    
    return n_df

df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})

new_dataframe = new_df(df)

print(new_dataframe)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [24]:
'''Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.'''

def stats(df):
    return df['values'].describe().loc[['mean','50%','std']]

df = pd.DataFrame({'values':[1,2,3,4,5,6,7,8,9,10]})

new_stats = stats(df)
print(new_stats)

mean    5.50000
50%     5.50000
std     3.02765
Name: values, dtype: float64

In [26]:
'''Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.'''

def create_moving_avg(df,column_name,window_size):
    df['MovingAverage']  = df[column_name].rolling(window_size).mean()
    return df

df = pd.DataFrame({'Date': ['2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-12'],
                   'Sales': [100, 120, 130, 140, 150]})

create_ma = create_moving_avg(df,'Sales',window_size=7)

print(create_ma)

         Date  Sales  MovingAverage
0  2023-08-08    100            NaN
1  2023-08-09    120            NaN
2  2023-08-10    130            NaN
3  2023-08-11    140            NaN
4  2023-08-12    150            NaN

In [41]:
'''Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.'''
import pandas as pd
df = pd.DataFrame({'date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})

def day_name(df):
    
    df['date'] = pd.to_datetime(df['date'])

    df['daytime'] = df['date'].dt.day_name()

    return df

week_df = day_name(df)
print(week_df)

        date    daytime
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [43]:
'''Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.'''


import pandas as pd

def date_between(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    df_filtered = df.query('Date >= "2023-01-01" and Date <= "2023-01-31"')

    return df_filtered


df = pd.DataFrame({'Date': ['2023-01-02', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12'],
                   'Sales': [100, 120, 130, 140, 150]})

filtered_data = date_between(df)
filtered_data

        Date  Sales
0 2023-01-02    100
1 2023-01-09    120
2 2023-01-10    130
3 2023-01-11    140
4 2023-01-12    150

In [45]:
'''Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of Pandas 
is the pandas library. This library provides a wide range of functions for data analysis and manipulation in Python
'''

'Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to\nbe imported?\n\nThe first and foremost necessary library that needs to be imported to use the basic functions of Pandas \nis the pandas library. This library provides a wide range of functions for data analysis and manipulation in Python\n'